.header {
  background-color: var(--sage);
  font-family: 'Playfair Display', serif;
  background: linear-gradient(
    0deg,
    rgba(157, 192, 139, 1) 0%,
    rgba(237, 241, 214, 1) 15%
  );
}
.container h1 {
  font-size: 2.5rem;
}
header .group_button {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}
header .group_button button {
  margin-right: 0.5rem;
}
header .button {
  background-color: var(--nature);
  border: 1px solid var(--earth);
}
